[submodule "FastAi"]
	path = FastAi
	url = https://github.com/fastai/fastai.git
[submodule "googleimagesdownloader"]
	path = googleimagesdownloader
	url = https://github.com/hardikvasa/google-images-download.git
